<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Messages From Another Place</title>
    <link rel='stylesheet' href='css/mfap.css'>
    <link rel='stylesheet' href='css/tapeRecorder.css'>

  </head>
  <body>
    <div id="wrapper">
      <div class="curtains">
        <div id="shadow">
          <div class="horizontal">
            <div class="vertical"></div>
          </div>
        </div>
        <div class="dimmed spotlight"></div>
        <div id="content">
          <div id="title">MESSAGES FROM ANOTHER PLACE</div>
          <div class="recording-wrapper">
            <div id="tape-recorder">
              <div class="rectangle">
                <div class="side front">
                  <div class="red-light"></div>
                  <div class="tape-place">
                    <div class="tape-wrapper">
                      <div class="tape-red-white"></div>
                      <div class="tape-black"></div>
                      <div class="tape-circle top"></div>
                      <div class="tape-circle bottom"></div>
                    </div>
                    <div class="tape-lateral"></div>
                  </div>
                  <div class="speaker"></div>
                </div>
                <div class="side right">
                  <div class="button play">
                    <div class="play-icon"></div>
                  </div>
                  <div class="button stop">
                    <div class="stop-icon"></div>
                  </div>
                  <div class="button record">
                    <div class="record-icon"></div>
                  </div>
                  <a>
                    <div class="button eject">
                      <div class="eject-icon1"></div>
                      <div class="eject-icon2"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="lets-rock-wrapper">
            <div id="lets-rock">Let's Rock</div>
          </div>
        </div>
      </div>
      <div id="floor">
        <div id="zigzag"></div>
        <div class="curtains"></div>
        <div id="combined-zigzag"></div>
        <div class="dimmed"></div>
      </div>
    </div>
    <div id="diary" class="diary-lines">
      <div id="diary-text">
        <p>It looks like Jupiter and Saturn haven't met yet... Or maybe you're just using a web browser that does not support audio recording.</p><p>Write it in your own diary.</p>
      </div>
    </div>
    <div id="blue-lights"></div>
    <div id="lights" class="turn-lights-on"></div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/recorder.js"></script>
    <script type="text/javascript" src="js/mfap.js"></script>
  </body>
</html>
