<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Messages From Another Place</title>
    <link rel='stylesheet' href='css/mfap.css'>

  </head>
  <body>
    <div id="wrapper">
      <div class="curtains">
        <div class="dimmed spotlight"></div>
        <!--<div id="shadow"></div>-->
        <div id="content">
          <div id="title">Messages From Another Place</div>
          <div id="lets-rock-wrapper">
            <div id="lets-rock">Let's Rock!</div>
          </div>
        </div>
      </div>
      <div id="floor">
        <div id="zigzag"></div>
        <div class="curtains"></div>
        <div id="combined-zigzag"></div>
        <div class="dimmed"></div>
      </div>
    </div>
    <div id="blue-lights"></div>
    <div id="lights" class="turn-lights-on"></div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/mfap.js"></script>
  </body>
</html>
