<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>Messages From Another Place</title>
    <link rel='stylesheet' href='css/mfap.css'>
    <link rel='stylesheet' href='css/tapeRecorder.css'>

  </head>
  <body>
    <div id="wrapper">
      <div class="curtains">
        <div id="shadow">
          <div id="shadow-content"></div>
        </div>
        <div class="dimmed spotlight"></div>
        <div id="content">
          <div id="title">MESSAGES FROM ANOTHER PLACE</div>
          <div class="recording-wrapper">
            <div id="tape-recorder">
              <div class="rectangle">
                <div class="side front">
                  <div class="red-light"></div>
                  <div class="tape-place">
                    <div class="tape-wrapper">
                      <div class="tape-red-white"></div>
                      <div class="tape-black"></div>
                      <div class="tape-circle top"></div>
                      <div class="tape-circle bottom"></div>
                    </div>
                    <div class="tape-lateral"></div>
                  </div>
                  <div class="speaker"></div>
                </div>
                <div class="side right">
                  <div id="record" class="button">
                    <div class="record-icon"></div>
                  </div>
                  <div id="play" class="button">
                    <div class="play-icon triangle"></div>
                  </div>
                  <div id="stop" class="button">
                    <div class="stop-icon"></div>
                  </div>
                  <a>
                    <div id="eject" class="button">
                      <div class="eject-icon1 triangle"></div>
                      <div class="eject-icon2"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div id="lets-rock-wrapper">
            <div id="lets-rock">Let's Rock</div>
          </div>
        </div>
      </div>
      <div id="floor-wrapper">
        <div id="floor">
          <div id="zigzag"></div>
          <div class="dimmed"></div>
        </div>
      </div>
      <div id="info">
        <div id="info-icon"></div>
        <div id="info-text">
          <p>P98/V367/J876/<span>Share</span>/J87/K98/G34/647/Y78/DF45/J567</p>
          <p>8765/ER23/PI36/K876/B256/<span>your</span>/J876/JK26/K89/Y567</p>
          <p>T456/K87/<span>thoughts</span>/U78/H54/D23/M66/J86/BS28/DF321</p>
          <p>JK78/<span>on</span>/F45/U78/R348/J57/N454/K876/J76/M34/D23</p>
          <p>PI36/<span>Twitter</span>/K78/B676/G565/C454/N669/H6776/M38</p>
          <p><span>using:</span>/Y567/K57/<span>#MessagesFromAnotherPlace</span>/N56/B56</p>
          <p>554/B789/W26/MN78/N78/H45/JK78/DF45/M678/J3/F867</p>
        </div>
      </div>
    </div>
    <div id="diary" class="diary-lines">
      <div id="diary-text">
        <p>It looks like Jupiter and Saturn haven't met yet... Or maybe you're just using a web browser that does not support audio recording.</p><p>Write it in your own diary.</p>
      </div>
    </div>
    <div id="blue-lights"></div>
    <div id="lights" class="turn-lights-on"></div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/recorder.js"></script>
    <script type="text/javascript" src="js/mfap.js"></script>
  </body>
</html>
