@import url(http://fonts.googleapis.com/css?family=Oswald);

@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);

@import url(http://fonts.googleapis.com/css?family=Sacramento);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#info {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 1%;
  margin-bottom: -15.2em;

  z-index: 6;

  transition-property: margin-bottom;
  transition-duration: 1s;
  -webkit-transition-property: margin-bottom;
  -webkit-transition-duration: 1s;
}

#info-icon {
  position: relative;
  left: 83%;
  width: 0;
  height: 0;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-bottom: 29px solid black;
  opacity: 0.8;
}

#info-icon:before {
  position: absolute;
  width: 0;
  height: 0;
  content: " ";
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-bottom: 29px solid #dfdfdf;
  margin-left: -29px;
  margin-top: 2px;
}

#info-icon:hover {
  cursor: pointer;
  opacity: 1.0 !important;
}

#info-text {
  font-size: 1em;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: #000000;
  height: 14em;
  padding: 8px;
  background: -moz-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 64%, rgba(214,214,214,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(238,238,238,1) 64%,rgba(214,214,214,1) 100%);
  background: radial-gradient(ellipse at center, rgba(238,238,238,1) 64%,rgba(214,214,214,1) 100%);
  overflow: hidden;
  border: 1px solid #000000;
}

#info-text p {
  margin: 0;
}

#info-text span {
  font-weight: bold;
}

#links {
  position: relative;
  height: 64px;
  padding: 5px;
}

.github {
  position: relative;
  left: 60%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: url('../img/github64.png');

  transition-property: box-shadow;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
}

.github:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

#twitter {
  display: inline-block;
  position: relative;
  bottom: 32px;
  left: 25%;
}

#wrapper {
  background: #000;
  min-height: 100%;
  position: relative;

  /* Browsers that parse "viewport" tag ignore overflow property in html and body */
  overflow: hidden;
}

.dimmed {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition-property: opacity;
  transition-duration: 3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  opacity: 0.0;
}

.dimmed.spotlight {
  background: -moz-radial-gradient(center, circle cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 29%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,1) 29%,rgba(0,0,0,1) 100%);
  background: radial-gradient(circle at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,1) 29%,rgba(0,0,0,1) 100%);
}

#floor .dimmed {
  background: #000;
}

/* This wrapper is needed because of
 * -webkit-transform cancels z-index */
#shadow {
  display: none;
  position: absolute;
  top: 40%;
  left: 75%;
  width: 100px;
  height: 150px;
  z-index: 1;
}

#shadow-content {
  height: 100%;
  width: 100%;
  background: #000000;
  background-blend-mode: overlay;

  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);

  /* Smooth the edges of the shadow */
  outline: 1px solid transparent;

  -webkit-transform: perspective(600px) rotateY(45deg) rotateX(45deg);
  transform: perspective(600px) rotateY(45deg) rotateX(45deg);

}

#shadow.movement {
  animation-duration: 30s;
  animation-name: shadow-anim;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  -webkit-animation-duration: 30s;
  -webkit-animation-name: shadow-anim;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
}

.curtains {
  background: -moz-linear-gradient(left, rgba(99,3,0,1) 0%, rgba(145,0,0,1) 7%, rgba(186,13,6,1) 13%, rgba(193,0,0,1) 19%, rgba(140,0,0,1) 25%, rgba(94,0,0,1) 30%, rgba(147,0,0,1) 37%, rgba(114,0,0,1) 43%, rgba(158,0,0,1) 49%, rgba(178,14,0,1) 56%, rgba(150,5,0,1) 65%, rgba(122,0,0,1) 74%, rgba(165,0,0,1) 78%, rgba(155,0,0,1) 82%, rgba(183,0,0,1) 88%, rgba(178,0,0,1) 98%);

  background: -webkit-linear-gradient(left, rgba(99,3,0,1) 0%,rgba(145,0,0,1) 7%,rgba(186,13,6,1) 13%,rgba(193,0,0,1) 19%,rgba(140,0,0,1) 25%,rgba(94,0,0,1) 30%,rgba(147,0,0,1) 37%,rgba(114,0,0,1) 43%,rgba(158,0,0,1) 49%,rgba(178,14,0,1) 56%,rgba(150,5,0,1) 65%,rgba(122,0,0,1) 74%,rgba(165,0,0,1) 78%,rgba(155,0,0,1) 82%,rgba(183,0,0,1) 88%,rgba(178,0,0,1) 98%);

  background: linear-gradient(to right, rgba(99,3,0,1) 0%,rgba(145,0,0,1) 7%,rgba(186,13,6,1) 13%,rgba(193,0,0,1) 19%,rgba(140,0,0,1) 25%,rgba(94,0,0,1) 30%,rgba(147,0,0,1) 37%,rgba(114,0,0,1) 43%,rgba(158,0,0,1) 49%,rgba(178,14,0,1) 56%,rgba(150,5,0,1) 65%,rgba(122,0,0,1) 74%,rgba(165,0,0,1) 78%,rgba(155,0,0,1) 82%,rgba(183,0,0,1) 88%,rgba(178,0,0,1) 98%);

  background-size: 75px 75px;

  transition-property: opacity;
  transition-duration: 3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  opacity: 1.0;
}

#wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 1;
  -webkit-box-shadow: 2px 2px 5px 3px #000;
  box-shadow: 2px 2px 5px 3px #000;
  overflow: hidden;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#title {
  display: block;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-align: center;
  color: #4e2d1c;
  text-shadow:
  -1px -1px 0 #52f05e,  
  1px -1px 0 #52f05e,
  -1px 1px 0 #52f05e,
  1px 1px 0 #52f05e,
  4px 4px 0 #000000;  

  transition-property: opacity;
  transition-duration: 3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  opacity: 0.0;
}

#diary {
  display: none;
  position: absolute;
  top: 30%;
  left: 25%;
  border: 1px solid #838383;
  border-radius: 5% 0% 50% 0%;
  padding: 17px;
  width: 50%;
  min-height: 100px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 5px #000000;
  box-shadow: 1px 1px 5px #000000;
  z-index: 5;

  transition-property: opacity;
  transition-duration: 3s;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 3s;
  opacity: 0.0;
}

.diary-lines {
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 12px, rgba(255,68,68,1) 12px, rgba(255,68,68,1) 15px, rgba(0,0,0,0) 15px), -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(41,137,216,0.7) 49%,rgba(41,137,216,0.7) 55%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0px, rgba(255,255,255,1) 12px, rgba(255,68,68,1) 12px, rgba(255,68,68,1) 15px, rgba(0,0,0,0) 15px), linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(41,137,216,0.7) 49%,rgba(41,137,216,0.7) 55%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 100%);
  background-size: 100% 15px;
}

#diary-text {
  margin-left: 10px;
  width: 96%;
  height: 100%;
  text-align: justify;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  line-height: 30px;
  color: #000000;
}

#diary-text p {
  margin-top: 0px;
}

#diary-text p:nth-child(1) {
  margin-bottom: 15px;
}

#diary-text p:nth-child(2) {
  margin-bottom: 0px;
  text-align: center;
}

.recording-wrapper {
  display: block;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

#lets-rock-wrapper {
  display: block;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

#lets-rock {
  display: inline-block;
  font-size: 2em;
  font-family: 'Cedarville Cursive', cursive;
  line-height: 100%;
  color: white;

  transition-property: opacity, color, text-shadow;
  transition-duration: 3s, 0.5s, 1s;
  -webkit-transition-property: opacity, color, text-shadow;
  -webkit-transition-duration: 3s, 0.5s, 1s;
  opacity: 0.0;
}

#lets-rock:hover {
  cursor: pointer;
  color: #ca3359;
  text-shadow: 2px 2px #000;
}

#floor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

#floor {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(75deg);
  transform: rotateX(75deg);
}

#floor .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

#combined-zigzag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 25px 0, -moz-linear-gradient(135deg, #4c2c1f 25%, transparent 25%) 25px 0;
  background: -webkit-linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 25px 0, -webkit-linear-gradient(135deg, #4c2c1f 25%, transparent 25%) 25px 0;
  background: linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 25px 0, linear-gradient(315deg, #4c2c1f 25%, transparent 25%) 25px 0;
  background-size: 50px 50px;
}

#zigzag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: -webkit-linear-gradient(315deg, #4c2c1f 25%, transparent 25%), -webkit-linear-gradient(225deg, #4c2c1f 25%, transparent 25%), -webkit-linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 25px 0, -webkit-linear-gradient(135deg, #4c2c1f 25%, transparent 25%) 25px 0;
  background: linear-gradient(135deg, #4c2c1f 25%, transparent 25%),
  linear-gradient(225deg, #4c2c1f 25%, transparent 25%),
  linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 25px 0,
  linear-gradient(315deg, #4c2c1f 25%, transparent 25%) 25px 0;
  background-size: 50px 50px;
  background-color: #c1824f;
}

#blue-lights {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d69c0;
  opacity: 0.3;
  z-index: 5;
}

#lights {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.0;
  z-index: 5;
}

.turn-lights-on {
  animation-duration: 4s;
  animation-name: turn-lights-on-anim;

  -webkit-animation-duration: 4s;
  -webkit-animation-name: turn-lights-on-anim;
}

.flashing-lights {
  animation-duration: 1s;
  animation-name: flashing-lights-anim;
  animation-iteration-count: infinite;
  animation-timing-function: steps(10);

  -webkit-animation-duration: 1s;
  -webkit-animation-name: flashing-lights-anim;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(10);
}

.flashing-blue-lights {
  animation-duration: 0.1s;
  animation-name: turn-blue-lights-on-anim;
  animation-direction: alternate;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;

  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: turn-blue-lights-on-anim;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: steps(5);
  -webkit-animation-iteration-count: infinite;
}

.flipping-text {
  animation-duration: 0.5s;
  animation-name: flipping-text-anim;
  animation-direction: alternate;
  animation-iteration-count: 5;
  animation-timing-function: steps(3);
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: flipping-text-anim;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 5;
  -webkit-animation-timing-function: steps(3);
  -webkit-animation-fill-mode: forwards;
}

@media screen 
and (max-width : 1024px){
  #lets-rock {
    color: #ca3359;
}
/* Fix black line in some devices */
#floor {
  margin-bottom: 2px;
}

}

@media screen 
and (max-width : 640px) {
  #title {
    margin-top: 8px;
    font-size: 2em;
}

.curtains {
  background-size: 50px 50px;
}

.recording-wrapper {
  top: 25%;
}

#floor .curtains {
  height: 24px;
}

#combined-zigzag {
  background:
  linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 12px 0,
  linear-gradient(315deg, #4c2c1f 25%, transparent 25%) 12px 0;
  background-size: 24px 24px;
}

#zigzag {
  background: linear-gradient(135deg, #4c2c1f 25%, transparent 25%),
  linear-gradient(225deg, #4c2c1f 25%, transparent 25%),
  linear-gradient(45deg, #4c2c1f 25%, transparent 25%) 12px 0,
  linear-gradient(315deg, #4c2c1f 25%, transparent 25%) 12px 0;
  background-size: 24px 24px;
  background-color: #c1824f;
}

#shadow {
  height: 90px;
  width: 50px;
}

#diary {
  left: 5%;
  width: 80%;
  padding: 10px;
}

.diary-lines {
  background-size: 100% 10px;
}

#diary-text {
  font-size: 1.4em;
  line-height: 20px;
}

#diary-text p:nth-child(1) {
  margin-bottom: 10px;
}

#info {
  margin-bottom: -8.9em;
}

#info-icon {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid black;
}

#info-icon:before {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #dfdfdf;
  margin-left: -14px;
  margin-top: 2px;
}

#info-text {
  font-size: 0.6em;
  height: 13em;
}

.github {
  width: 32px;
  height: 32px;
  background: url('../img/github32.png');
}

#links {
  height: 32px;
}

#twitter {
  bottom: 32px;
}

}

@media screen 
and (max-width : 360px) {

  /* Make the spotlight bigger in some devices */
  .dimmed.spotlight {
    background: -moz-radial-gradient(center, circle cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 34%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 34%,rgba(0,0,0,1) 100%);
    background: radial-gradient(circle at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 34%,rgba(0,0,0,1) 100%);
}


/* Make the movement faster in some devices */
#shadow.movement {
  animation-duration: 20s;
  -webkit-animation-duration: 20s;
}
}

@media screen 
and (max-width : 320px) {
  #title {
    margin-top: 10px;
    font-size: 1.7em;
}

.curtains {
  background-size: 50px 50px;
}

.recording-wrapper {
  top: 31%;
}

#lets-rock {
  bottom: 4%;
  font-size: 1.6em;
}

#diary-text {
  font-size: 1.2em;
}

}

/* Animations */

@keyframes turn-lights-on-anim {
  from {
    opacity: 1.0;
}

to {
  opacity: 0.0;
}
}

@-webkit-keyframes turn-lights-on-anim {
  from {
    opacity: 1.0;
}

to {
  opacity: 0.0;
}
}

@keyframes flipping-text-anim {
  from {
    transform: scaleX(1);
}

to {
  transform: scaleX(-1);
}
}

@-webkit-keyframes flipping-text-anim {
  from {
    -webkit-transform: scaleX(1);
}

to {
  -webkit-transform: scaleX(-1);
}
}

@keyframes turn-blue-lights-on-anim {
  from {
    opacity: 0.2;
}

to {
  opacity: 0.0;
}
}

@-webkit-keyframes turn-blue-lights-on-anim {
  from {
    opacity: 0.3;
}

to {
  opacity: 0.0;
}
}

@keyframes flashing-lights-anim {
  0%, 40%, 50%, 80%, 90% {
    opacity: 1.0;
}

30%, 45%, 70%, 85%, 100% {
  opacity: 0.0;
}
}

@-webkit-keyframes flashing-lights-anim {
  0%, 40%, 50%, 80%, 90% {
    opacity: 1.0;
}

30%, 45%, 70%, 85%, 100% {
  opacity: 0.0;
}
}

@keyframes shadow-anim {
  0% {
    left: 0%;
    opacity: 0.0;
}

34% {
  opacity: 0.0;
}

35%, 69% {
  opacity: 0.4;
}

70% {
  opacity: 0.0;
}

100% {
  opacity: 0.0;
  left: 95%;
}
}

@-webkit-keyframes shadow-anim {
  0% {
    left: 0%;
    opacity: 0.0;
}

34% {
  opacity: 0.0;
}

35%, 69% {
  opacity: 0.4;
}

70% {
  opacity: 0.0;
}

100% {
  opacity: 0.0;
  left: 95%;
}
}

@keyframes dot-anim {
  0% {
    opacity: 0.0;
}

100% {
  opacity: 1.0;
}
}

@-webkit-keyframes dot-anim {
  0% {
    opacity: 0.0;
}

100% {
  opacity: 1.0;
}
}
